body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.sale-offer {
  background-color: #241c15;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  padding: 0.1% 0%;
}

.sale-offer:nth-child(1) {
  line-height: 0.5;
}

.sale-offer span {
  border-bottom: dotted 2px;
}

nav,
ul {
  display: flex;
}

nav,
.logo,
.globe,
.left-section,
/* .left-section-hero, */
.login,
.login-btn,
.nav-links,
.right-section {
  flex-wrap: wrap;
}

nav {
  background-color: #ffe01b;
  padding: 1%;
  position: sticky;
  top: 53.86px;
}

.logo {
  align-self: center;
}

.logo img {
  height: 3.5rem;
}

.nav-links {
  /* display: inline-flex; */
  margin-right: auto;
  width: 40%;
}

li {
  list-style: none;
  padding-right: 4%;
}

a {
  color: #241c15;
  text-decoration: none;
}

.search {
  align-self: center;
  display: flex;
  margin-left: auto;
  width: 5%;
}

.globe {
  align-self: center;
  display: flex;
  /* margin-right: auto; */
  width: 5%;
}

.sales-text {
  align-self: center;
  display: flex;
  margin-right: 2%;
  text-align: center;
  width: 15%;
}

.login-btn,
.signup-btn {
  align-self: center;
  display: inline-flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  /* height: 2rem; */
  /* line-height: 64px; */
  background: #ffe01b;
  padding: 1.2rem 1rem;
  border-radius: 5em;
  text-decoration: none;
  color: #241c15;
  font-size: 13px;
  vertical-align: bottom;
  white-space: nowrap;
  border: 1px solid #241c15;
  letter-spacing: 2px;
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
  font-weight: 600;
  /* width: 25%; */
}

.login-btn:hover,
.signup-btn:hover {
  background: white;
  border: 1px solid #241c15;
}
/* width: 20%; */

.login {
  gap: 10%;
}

.hero-section {
  background-color: #ffe01b;
  display: flex;
  /* flex-wrap: wrap; */
  height: auto;
  padding: 1% 0;
}

.left-section-hero {
  align-self: center;
  padding-left: 4%;
  width: 50%;
}

.left-section-hero h2 {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 3%;
}

.left-section-hero p {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 0%;
}

.right-section {
  width: 50%;
}

.right-section-hero img {
  height: 100%;
  justify-content: center;
  margin-left: 9%;
  width: 85%;
}

.why-us {
  padding: 3.5% 20%;
  text-align: center;
}
.why-us h2 {
  font-size: 2.4rem;
  margin-bottom: 1%;
}

.why-us p {
  font-size: x-large;
}

.card-heading,
.card-icon,
.card-section,
.cards,
.image-card,
.image-cards {
  display: flex;
  flex-grow: 1;
  /* flex-wrap: wrap; */
}
.card-section {
  flex-direction: column;
  margin-top: 1.75%;
  /* justify-content: center; */
  /* padding: 0.5% 5% 5% 5%; */
}

.cards {
  gap: 52px;
  padding: 0 4%;
}

.image-card {
  align-items: center;
  flex-direction: column;
  height: 50%;
  margin: 0 3%;
  justify-content: center;
}

.card-icon {
  height: 50%;
  width: 55%;
}

.image-card h4 {
  margin-bottom: 0.5%;
}

.text {
  justify-content: center;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
}

.image-cards {
  flex-direction: row;
  align-items: center;
}

.grow-mailchimp {
  margin: 4% 0 0% 0;
  padding-bottom: 4%;
}

.grow-bg {
  background-color: #f6f6f4;
}

.left-section {
  align-self: center;
  padding-left: 4%;
  width: 40%;
}

.left-section h2 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  margin-bottom: 3%;
}

.left-section p {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 0%;
}

.right-section img {
  height: 90%;
  justify-content: center;
  /* margin-left: auto; */
  margin-right: auto;
  margin-left: 9%;
  width: 75%;
}

.grow-text-margin {
  margin-right: 4%;
}

.grow-heading-size {
  font-size: large;
}

.subscribe {
  background-color: #241c15;
  color: #f6f6f4;
  height: 35rem;
  /* padding: 0 15%; */
}

input {
  border-radius: 0.5rem;
  height: 3rem;
  justify-self: center;
  margin-left: 21.5%;
  width: 55%;
}

.subscribe p {
  display: flex;
  flex-wrap: wrap;
  margin-left: 21.5%;
}

.subscribe .signup-btn {
  margin-top: 2%;
  margin-left: 45%;
}

.subscribe .terms {
  font-size: x-small;
  margin-top: 5.5%;
  margin-left: 11%;
  margin-right: 14%;
  text-align: center;
}

.footer {
  background-color: #e7b75f;
  padding: 3% 3%;
}

.footer-text {
  font-size: x-small;
  margin: 0%;
}

@media only screen and (max-width: 890px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .left-section-hero {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .nav-links,
  .search,
  .globe,
  .sales-text {
    display: none;
  }

  .buttons {
    margin-left: auto;
  }
  .cards {
    flex-wrap: wrap;
  }
  .hero-section,
  .right-section,
  .left-section {
    flex-wrap: wrap;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
  .subscribe {
    padding-bottom: 45%;
  }
}
